.body {
  /* padding-top: 7rem; */
  text-align: center;
  margin-top: 0;
  padding: 90px 0 150px 0;
  background-image: url("../assets/img/banner-bg.png");
  min-height: 100vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skillBox {
  background-color: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
}

.body h5 {
  /* font-size: 45px; */
  font-weight: 700;
}

.body p {
  color: #b8b8b8;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skillSlider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
